


/* ITNRO OVERLAY ================================================================================*/
.introContainerWrapper{
    width: 100%;
    background-color: #1D1D1D;
}

.introContainer{

    margin: auto;
    background-image: url("/quantumz-demo.github.io/images/illustration/bgDesignLeft.svg");

    background-repeat: no-repeat;
    background-position:right center;
    background-size: auto;   
;
    font-weight:500;
    max-width: 1200px;
    height: 100%;
    background-color: #1d1d1d;
    color: #E6E6E6;
}


.introPhraseContainer
{
    display: block;
    position: relative;
    top: 30%;

    font-size: 35px;
    font-weight: 600;
    color: white;
    max-width: 278px;

}


.introPhrase{
    position: relative;

    width: 278px;

    padding-left: 20px;
    font-size: 30px;
    border-left: solid #E6E6E6 10px;
}



.introContactButton
{
    display: block;

    width: 278px;
    padding: 10px;
    margin-top: 20px;

    font-family: inherit;
    text-align: center;
    font-weight:600;
    font-size: 23px;
    color: #E6E6E6;

    background: linear-gradient(to right, #4E02FB,#328BF2);
    border-radius: 80px;
    border: none;

    cursor: pointer;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}



.introContactButton:hover
{
    background-image: linear-gradient(to right,#328bf2, #4e02fb);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}




.dropdownArrow{
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 100px;
}

.dropdownArrowAnimated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes dropdownArrowBounce {
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@keyframes dropdownArrowBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.dropdownArrowBounce {
    -webkit-animation-name: dropdownArrowBounce;
    animation-name: dropdownArrowBounce;
}


/* JS TYPER ================================================================================*/
.typerContainer
{
    display: block;
    margin: auto;
    max-width: 500px;
    border-radius: 7px;
    clear: both;
    overflow: hidden;
    box-shadow: 0 0 20px #a6a6a6;

}

#typerTitleBar
{
    text-align: center;
    background-color: #d0d0d0;
    padding: 5px;
}

#typerTitle
{
    color: #1a1a1a;
}

.typer
{
    display: block;
    margin: auto;
    height: 80px;
    background-color: #1d1d1d;
    color: #e6e6e6;
    overflow: hidden;
    text-align: left;
    padding: 10px;
}
#wordToComplete
{
    font-weight: 800;
}
#typerTypingCurosr
{
    font-weight: 800;
}





/* IDEA BANNER ================================================================================*/

.ideaBannerContainer{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    justify-content:space-around;
    align-items:center;
}


.ideaBannerTextContainer{
    font-size: 20px;
}

.ideaBannerTextContainer div{
    margin-top: 10px;
    margin-bottom: 5px;
}


.ideaBannerButton{
    display: inline-block;
    background: linear-gradient(to right, #4E02FB,#328BF2);
    padding: 10px;
    color: white;
    border-radius: 80px;
    font-size: 20px; 
}


.ideaBannerImage{
    width: 400px;
}



/* TRIPLE BANNER ================================================================================*/


.tripleBoxContainer{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 100px auto;
}

.singleBoxContainer{

    position: relative;


    height: 340px;
    width: 300px;

    background-color: #ffffff;
    border-radius: 25px;
    border: none;

    text-align: center;

    box-shadow: 0 10px 10px 10px rgba(29, 29, 29, 0.16);
}




.aboveSingleBox{
    display: none;

    height: 100%;
    width: 100%;
    background-color: #4A4A4A;

    position: absolute;
    z-index: 1;

    border-radius: 25px;
    
}


.aboveSingleBoxText{
    display: none;
    
    text-align: left;
    
    
    padding: 20px;
    color: #E6E6E6;
    
    
    transform: rotateY(-25deg) skewY(8deg);
    transition: transform 1000ms;
}


.singleBoxTitle{
    max-width: 260px;
    font-size: 20px;

    background: linear-gradient(to right, #4E02FB,#328BF2);
    border-radius: 80px;
    border: none;

    font-family: inherit;
    text-align: center;
    font-weight:600;
    font-size: 16px;
    color: #E6E6E6;

    padding: 10px;
    margin: 20px auto;

}

.singleBoxImage{
    display: block;
    margin: auto;

    position: absolute;
    width: 170px;

    bottom: 0;
    left: calc(50% - 170px);
    transform: translate(50%);
}


/* OUTRO ================================================================================*/
.outroContainer{
    text-align: center;
    margin: 100px auto auto auto;
    max-width: 1200px;
}

.contactUsOutroImage{
    max-width: 480px;
}

.contactUsOutroImageText{
    margin: 15px auto 15px auto;
    font-size: 20px;
    font-weight: bold;
}


.outroContactButton{
    margin: auto;
    display: block;

    width: 278px;
    padding: 10px;

    font-family: inherit;
    text-align: center;
    font-weight:600;
    font-size: 20px;
    color: #E6E6E6;

    background: linear-gradient(to right, #4E02FB,#328BF2);
    border-radius: 80px;
    border: none;

    cursor: pointer;
}


