
/*<!-- INTRO ==========================================================================-->*/



.introWrapper{
    height: 100%;
}



.introContainer{

    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    justify-content:space-between;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.introLeftContainer{}

.introPhraise1{
    color: white;
    font-size: 25px;
    font-weight: 600;
    background: linear-gradient(to right, #4E02FB,#328BF2);
    width: 580px; /*Normally it is 600(the half of 1200px) but 580 because padding is already 10px*/
    padding: 10px;
    border-radius: 80px;

}


.introPhraise2{}

.introImage{}













/*.dropdownArrow{
    position: relative;
    top: 20%;
    transform: translateY(-20%);
   
    cursor: pointer;
    width: 100px;

}

.dropdownArrowAnimated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes dropdownArrowBounce {
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@keyframes dropdownArrowBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.dropdownArrowBounce {
    -webkit-animation-name: dropdownArrowBounce;
    animation-name: dropdownArrowBounce;
}
*/

















.introSkillsContainer{
    max-width: 252px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, #ffffff,#EEEAEA);
    box-shadow: 0 10px 10px 10px rgba(29, 29, 29, 16%);
}

.introSkillsContainer div{
    padding: 7px;
}

.introSkillBox{}


.introSkill{
    cursor: pointer;
}


.introskill1{
    border-left: solid 6px #328BF2
}

.introskill2{
    border-left: solid 6px #FC7043

}
.introskill3{
    border-left: solid 6px #EBB915

}
.introskill4{
    border-left: solid 6px #69E2C9

}
.introskill5{
    border-left: solid 6px #64E1F5

}
.introskill6{
    border-left: solid 6px #6DA9EE

}
.introskill7{
    border-left: solid 6px #1830AC
}

.introskill8{
    border-left: solid 6px #8309FE

}
.introskill9{
    border-left: solid 6px #F23232

}


.skillImage{
    width: 250px;
}

/*<!-- SKILLS ==========================================================================-->*/


.skillBoxContainer {
    max-width: 1200px;
    margin: auto;

}



.skillBoxContainer .skillBox{
    margin: 60px;
    padding: 50px;
}


.skillBox{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    justify-content:space-around;
    align-items: center;
    
    
    background-color: #ffffff;
    box-shadow: 0 10px 10px 10px rgba(29, 29, 29, 16%);
    border-radius: 25px;


}


.skillTextContainer{
    width: 40%;
}


.skillImage{
    width: 300px;

}



.skillTitle{
    padding: 10px;
    font-weight: bold;
}


.skillText{
    margin-top: 20px;
}






